* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: arial;
}

body {
  position: relative;
  max-width: 1920px;
  margin: 0 auto;
  background-color: rgb(75, 75, 75);
  color: white;
}
